body{
    background-size: 100%;
    background-image: url("img/imag.png");
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
}

.box_cab{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-image: url(img/fundo-chocolate.png);
    height: 200px;
}

.h1-lorem{
    font-size: 20px;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.texto{
    height: 151px;
    background-color: #fcb7af;
}

.box_cab-nav-ul{
    display: flex;
    list-style-type: none;
}

.box_cab-nav-a{
    padding: 15px;
    color: #80efd8;
    font-size: 22px;
    font-weight: bold;
	font-family: 'Bebas Neue', cursive;
    text-shadow: 1px 1px 2px #000;
}

.box_nav-img{
    width: 100px;
    height: 100px;
}

.para{
color: #80efd8;
font-size:40px;
font-family: 'Bebas Neue', cursive;
text-align: center;
text-shadow: 1px 1px 3px #000;
}

.titulo{ 
    color: #80efd8;
    font-size:0;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    text-shadow: 1px 1px 3px #000;
}

.frase{
    color: #392620;
    font-size:40px;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    text-shadow: 1px 1px 3px #000;
}

.d1{
    font-size: 50px;
}

.corpo{
    display: flex;
    justify-content: space-around;
    
}

.produto-i{
    text-align: center;
}

.produto-j{
    text-align: center;
}

.produto-u{
    text-align: center;
}


.cor{ color: #80efd8;
    font-family: 'Bebas Neue', cursive;
    text-shadow: 1px 1px 2px #000;

}

.desenvolvimento{
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0;
    background-image: url("img/imag2.png");
    height: 100VH;
    background-size: cover;
}

.desenvolvimento1{
    background-repeat: no-repeat;
    background-image: url("img/imag.png");
    height: 100vh;
}

.tudo{
    display:flex;
    justify-content: space-around;
}

.img2{

    border: 5px solid #fcb7af;
    border-radius: 10px;
    background-color: #fcb7af;
    width: 100px;
}

.img3{
    
    border: 5px solid #392620;
    border-radius: 10px;
    background-color: #392620;
    width: 100px;
}

.fonte{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
}

.botao{
    color: #fcb7af;
    background-color: #392620;
    padding: 10px;
    border-radius: 5px;
}


.botao1{
    color: #392620;
    background-color: #fcb7af;
    padding: 10px;
    border-radius: 5px;
}

.rodape{
    font-family: 'rubik', sans-serif;
    display: grid;
    grid-template-areas: 
    "um dois tres"
    "h4 h4 h4";
    background-color:  #fcb7af;
    width: 99%;
    height: 30vh;
    grid-template-rows: auto;
    grid-template-columns: 2fr 2fr 1fr;
    border: solid 2px  #ffe4e1;
}

.h4{
    grid-area: h4;
	background-color: #fcb7af;
	text-align: center;
	width: 100%;
}

.um{
	grid-area: um;
	background-color: #fcb7af;
}

.dois{
	grid-area: dois;
	background-color: #fcb7af;
}

.tres{
	grid-area: tres;
	background-color: #fcb7af;
}

.footer-img{
	width: 50px;
	height: 50px;
}

@media (max-width: 788px){

    .body{
        background-color: #ffe4e1;
    }

    .desenvolvimento{
        background-color: #ffe4e1;
    }

    .desenvolvimento1{
        background-color: #ffe4e1 ;
}
    .box_cab{
        display: block;
        text-align: center;
        height:350px;
    }

    .box_cab-nav-ul{
        display: block;
        margin: 60px;
    }

    .box_nav-img{
        width: 90px;
        height: 90px;
    } 

    {
        background-color: #fcb7af;
        height: 220px;
    }

    .d{
        background-color: #ffe4e1;
    }
	
	.para{
		font-size: 25px;
	}
	
	.frase{
		font-size: 25px;
	}
	
	
	.rodape{
    font-family: 'rubik', sans-serif;
    display: grid;
    grid-template-areas: 
    "um um um"
	"dois dois dois"
	"tres tres tres"
    "h4 h4 h4";
    border: solid black;
    background-color:  #fcb7af;
    width: 100%;
    height: 30vh;
    grid-template-rows: auto;
    grid-template-columns: 2fr 2fr 1fr;
    border: solid 2px  #ffe4e1;
	}

	.h4{
    grid-area: h4;
	background-color: #fcb7af;
	padding: 20px;
	text-align: center;
	width: 90%;
	}

	.um{
	text-align: center;	
	padding: 10px;
	}
	
	.dois{
	text-align: center;
	padding: 10px;
	}

	.tres{
	text-align:center;
	padding: 10px;
	}
